<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/form.css">
    </head>
    <body>
        <h1>
         HEll0   <%=name%>
        </h1>
        <form action="/logout" method="POST">
        <button class="registerbtn" type="submit">logout</button>
    </form>
    </body>
</html>